<head>

{% include "partials/meta.html" %}

<meta name="theme-color" content="#f8f9fa">
<meta name="robots" content="index, follow, noodp" />

{% set siteBaseUrl = site.absoluteUrl or site.url or "" %}

{% if features.blog %}
<link rel="alternate" type="application/rss+xml" href="{{ siteBaseUrl }}/feed.xml" />
{% endif %}
{% if features.portfolio %}
<link rel="alternate" type="application/rss+xml" href="{{ siteBaseUrl }}/portfolio/feed.xml" />
{% endif %}
<link rel="stylesheet" href="{{ site.assetPath }}/css/critical.css">
{% if features.blog %}
<link rel="stylesheet" href="{{ site.assetPath }}/css/blog.css">
{% endif %}
{% if features.faqs %}
<link rel="stylesheet" href="{{ site.assetPath }}/css/faqs.css">
{% endif %}
{% if features.portfolio %}
<link rel="stylesheet" href="{{ site.assetPath }}/css/portfolio.css">
{% endif %}
{% if features.team %}
<link rel="stylesheet" href="{{ site.assetPath }}/css/team.css">
{% endif %}

</head>
